body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: var(--green-200-lighter);
    padding: 2rem;
    margin: 0;
}

h1 {
    margin-bottom: 1.5rem;
}

.card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.95rem;
}

.card > div {
    margin-bottom: 1rem;
}

.card label{
    display:block;
    margin-bottom: 0.5rem;
}

.box {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--grey-500-medium);
    border-radius: 0.45rem;
}

.query p {
    margin-bottom: 0.80rem;
}

.query-option {
    border: 1px solid var(--grey-500-medium);
    padding: 0.8rem;
    border-radius: 0.45rem;
    margin-top: 1rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}