/* =========================
    BODY
========================= */
body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    background-color: var(--green-200-lighter);
    padding: 1rem;
    margin: 0;
}

/* =========================
    CARD
========================= */
.card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0.95rem;
}


/* =========================
    TITLE
========================= */
h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* =========================
    FORM FIELDS
========================= */
.card > div {
    margin-top: 1rem;
}

.card > .name-fields {
    margin-top: 0;
}

.card > div label {
    display: block;
    margin-bottom: 0.5rem;
}

.box {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--grey-500-medium);
    border-radius: 0.45rem;
    margin-top: 0.8rem;
}

.message {
    display: block;
    margin-top: 1rem;
}

textarea.box {
    min-height: 6rem;
}

/* =========================
    QUERY TYPE
========================= */
.query {
    border: 0;
    padding: 0;
    margin-top: 1.5rem;
}

.query-options {
    display: grid;
    gap: 1rem;
}

.query legend {
    margin-bottom: 0.80rem;
}

.query-option {
    display: block;
    border: 1px solid var(--grey-500-medium);
    padding: 0.8rem;
    border-radius: 0.45rem;
}

/* =========================
    ATTRIBUTION
========================= */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-top: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.hidden {
    display: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--green-600-medium);
    color: var(--white);
    border: 0;
    border-radius: 0.50rem;
    margin-top: 2rem;
}

.consent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}